html { margin:0; padding:0; border:0 }
body, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section { margin:0; padding:0; border:0; font: normal 13px/120% "Trebuchet MS", Arial, Helvetica, sans-serif }
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section { display:block }
body { background: url(../images/bg-wrap.png) 0 0 repeat #fff; color:#333333; line-height:1.5 }
table { border-collapse:separate }
caption, th, td { text-align:left; font-weight:normal; float:none !important }
table, th, td { vertical-align:middle }
blockquote:before, blockquote:after, q:before, q:after { content:'' }
blockquote, q { quotes:"" "" }
a img { border:none }
:focus { outline:0 }
/* typography.css */
html { font-size:100.01% }
h1, h2, h3, h4, h5, h6 { font-weight:normal }
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin:0 }
p { margin:0 0 1.2em }
.left { float:left !important }
p .left { margin:1.5em 1.5em 1.5em 0; padding:0 }
.right { float: right !important }
p .right { margin:1.5em 0 1.5em 1.5em; padding:0 }
a:focus, a:hover { color:#a63f03 }
a { color:#cf530b; text-decoration:none }
blockquote { margin:1.5em; color:#666; font-style:italic }
strong, dfn { font-weight:bold }
em, dfn { font-style:italic }
sup, sub { line-height:0 }
abbr, acronym { border-bottom:1px dotted #666 }
address { margin:0 0 1.5em; font-style:italic }
del { color:#666 }
pre { margin:1.5em 0; white-space:pre }
pre, code, tt { font:1em 'andale mono', 'lucida console', monospace; line-height:1.5; white-space:pre }
li ul, li ol { margin:0 }
li { list-style:none }
ul, ol { margin:0; padding:0 }
ul { list-style-type:disc }
ol { list-style-type:decimal }
dl { margin:0 0 1.5em 0 }
dl dt { font-weight:bold }
dd { margin-left:1.5em }
table { margin-bottom:1.0em; width:100% }
th { font-weight:bold }
thead th { background:#c3d9ff }
th, td, caption { padding:4px 10px 4px 5px }
tbody tr:nth-child(even) td, tbody tr.even td {
background:#f0f0f0;
}
tbody tr:nth-child(odd) td, tbody tr.odd td {
background:#f9f9f9;
}
tfoot { font-style:italic }
caption { background:#eee }
.hide { display:none }
.quiet { color:#666 }
.loud { color:#000 }
.highlight { background:#ff0 }
.added { background:#060; color:#fff }
.removed { background:#900; color:#fff }
.first { margin-left:0; padding-left:0 }
.last { margin-right:0; padding-right:0 }
.top { margin-top:0; padding-top:0 }
.bottom { margin-bottom:0; padding-bottom:0 }
.mandatory { color:#cc0000; font: bold 14px/16px Arial, Helvetica, sans-serif; margin-right:3px }
/* forms.css */
label { font-weight:normal }
fieldset { padding:0 1.4em 1.4em 1.4em; margin:0 0 1.5em 0; border:1px solid #ccc }
legend { font-weight:bold; font-size:1.2em; margin-top:-0.2em; margin-bottom:1em }
fieldset, #IE8#HACK { padding-top:1.4em }
legend, #IE8#HACK { margin-top:0; margin-bottom:0 }
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea { background-color:#ffffff; border:1px solid #e4dddd; color:#64452d; font:12px/14px Arial, Helvetica, sans-serif; margin-right:10px; padding:5px }
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus { border-color:#C9C9C9; box-shadow:0 0 8px #DDDDDD }
select { background-color:#ffffff; border:1px solid #e4dddd; color:#64452d; height:27px; line-height:19px; margin-right:8px; padding:3px 3px 3px 5px }
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select { /*margin:0.5em 0;*/ }
input.text, input.title { width:300px; padding:5px }
input.title { font-size:1.5em }
textarea { height:80px; padding:5px }
form.inline { line-height:3 }
form.inline p { margin-bottom:0 }

.success { background:#e6efc2; color:#264409; border-color:#c6d880 }
.info { background:#d5edf8; color:#205791; border-color:#92cae4 }
.error a, .alert a { color:#8a1f11 }
.notice a { color:#514721 }
.success a { color:#264409 }
.info a { color:#205791 }
hr { background:#abaaaa; color:#ddd; clear:both; float:none; width:100%; height:1px; margin: 18px 0; border:none }
hr.space { background:#fff; color:#fff; visibility:hidden }
.clearfix:after, .container:after, .f-container:after { content: " "; display:block; height:0; clear:both; visibility:hidden; overflow:hidden }
.clearfix, .container, .f-container { display:block }
.clearfix { *zoom: 1
}
.clear { clear:both }
.gap-5 { clear:both; height:5px }
.gap-10 { clear:both; height:10px }
.gap-15 { clear:both; height:15px }
.gap-20 { clear:both; height:20px }
.gap-25 { clear:both; height:25px }
.gap-30 { clear:both; height:30px }
.gap-35 { clear:both; height:35px }
.gap-40 { clear:both; height:40px }
/*-----------------*/
.wrapper { display:table; width:100% }
.main-wrap { background:#fff; -webkit-box-shadow: 0 0 6px 2px #969696; box-shadow: 0 0 6px 2px #969696; border-left:1px solid #a8a8a8; border-right:1px solid #a8a8a8; margin:0px auto; padding:0 18px 30px 18px; position:relative; width:988px }
.header { background:#FFFFFF; width:100% }
/*--main-menu ----*/
/*--main-menu ----*/
.main-menu { background: #767676; /* Old browsers */ background: -moz-linear-gradient(top, #767676 0%, #5c5c5c 52%, #5c5c5c 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #767676), color-stop(52%, #5c5c5c), color-stop(100%, #5c5c5c)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #767676 0%, #5c5c5c 52%, #5c5c5c 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #767676 0%, #5c5c5c 52%, #5c5c5c 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #767676 0%, #5c5c5c 52%, #5c5c5c 100%); /* IE10+ */ background: linear-gradient(to bottom, #767676 0%, #5c5c5c 52%, #5c5c5c 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#767676', endColorstr='#5c5c5c', GradientType=0 ); /* IE6-9 */
float:left; width:100%; position:relative }
.main-menu ul { max-width:988px; margin:0 auto; }
.main-menu ul li { font:400 15px/22px 'Oswald', sans-serif; float:left }
.main-menu ul li a { border-top:1px solid #5c5c5c; color:#fff; display:inline-block; padding:8px 16px 8px 17px;  letter-spacing:-0.04px\0/; height: 23px; }
.main-menu ul li a:hover, .main-menu ul li.active a,  .main-menu ul li.activetab.active a { background: #da6927; background: -moz-linear-gradient(top, #da6927 0%, #cf530b 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #da6927), color-stop(100%, #cf530b)); background: -webkit-linear-gradient(top, #da6927 0%, #cf530b 100%); background: -o-linear-gradient(top, #da6927 0%, #cf530b 100%); background: -ms-linear-gradient(top, #da6927 0%, #cf530b 100%); background: linear-gradient(to bottom, #da6927 0%, #cf530b 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da6927', endColorstr='#cf530b', GradientType=0 );border-top:1px solid #cf530b;  }
.main-menu ul li.activetab { float: right }
.main-menu ul li.activetab a { background: #515656; float: right;padding: 8px 18px 8px; padding:8px 16px 8px 17px\0/  }
.main-menu ul li.activetab.active a {padding: 8px 18px 8px;padding:8px 16px 8px 17px\0/   }
@media screen and (min-width:0) { .main-menu ul li.activetab a{ padding:8px 18px 8px 17px} .main-menu ul li.activetab.active a { padding:8px 18px 8px 17px}}
.main-menu ul li.activetab a:hover{background: #da6927;}
.main-menu ul li.first.active { background: #da6927; background: -moz-linear-gradient(top, #da6927 0%, #cf530b 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #da6927), color-stop(100%, #cf530b)); background: -webkit-linear-gradient(top, #da6927 0%, #cf530b 100%); background: -o-linear-gradient(top, #da6927 0%, #cf530b 100%); background: -ms-linear-gradient(top, #da6927 0%, #cf530b 100%); background: linear-gradient(to bottom, #da6927 0%, #cf530b 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da6927', endColorstr='#cf530b', GradientType=0;border-top:1px solid #cf530b; )
}
.main-menu ul li.first a {  padding:8px 9px }
.main-menu ul li.first a:hover { background: #da6927 }
.main-menu ul li ul.subnav { background-color: #f2f3f3; border-bottom: 1px solid #c5c6c6; list-style-type: none; left:0; margin: 0; padding: 7px 0; position: absolute; visibility:hidden; width: 100%; }
.main-menu li ul.subnav li { border-top:0; border-right: 1px solid #878c8c; display: inline-block; font: 500 13px/100% 'Roboto', sans-serif; }
.main-menu li ul.subnav li a { color:#333333; padding: 2px 10px; }
.main-menu li ul.subnav li a:hover { background:none; color:#cf530b }
.main-menu > ul li:hover > ul { visibility: visible; z-index:99 }
.main-menu > ul li.active > ul { visibility: visible; }
.main-menu ul li.active ul.subnav a { background:none }
/*-----*/
.submenu { background-color: #f2f3f3; border-bottom: 1px solid #c5c6c6; list-style-type: none; float:left; margin: 0; padding: 7px 0; width: 100%; }
.submenu ul { display:inline-block; }
.submenu ul li { border-top:0; border-right: 1px solid #878c8c; display: inline-block; font: 500 13px/100% 'Roboto', sans-serif; }
.submenu ul li a { color:#333333; padding: 2px 10px; }
.submenu ul li a:hover { background:none; color:#cf530b }
/*----*/
.login-name { float:right }
.login-name a { font: 500 13px/100% 'Roboto', sans-serif; color:#333 }
.login-name a:hover, .breadcrumb ul li a:hover { color:#cf530b }
.body-wrapper { background:#fff; display:table; width:100% }
.container, .f-container { background:#FFFFFF; margin:20px auto; position:relative; width:988px }
.content { display:block; padding:0px; position:relative }
.content h3 { color:#e95d2c; font-size:24px; line-height:50px; text-transform:uppercase }
/*--footer ----*/
.footer { background:url(../images/footer-bg.png) 0 0 repeat; border-top:10px solid #d34500; display: block; margin:0 auto; min-width:1024px; padding:0; position:relative; width: 100%; }
.footer .footer-wrapper { background:#ffffff; display:block; padding:5px 0; width:100% }
.footer .f-container, .copyrights f-container { background:none; border:none; margin:0 auto; padding: 0; width:988px }
.footerlogo-holder { display: table-cell; padding-right:20px; vertical-align: middle }
.footerlogo { background:url(../images/beforeLogin-icons.png) no-repeat scroll left top transparent; display:inline-block; height:103px; vertical-align:middle; width:344px }
.social-links, .social-links ul { width:auto; float:left; margin-top:5px}
.social-links ul li { display:inline-block; margin:2px; }
.social-links ul li a .icon { transition:background-position 0.2s ease-out 0s; -webkit-transition: background-position 0.2s ease-out 0s; -ms-transition: background-position 0.2s ease-out 0s; }
.footer-links { float:left; max-width:620px; margin:20px 0 0 15px }
.footer-links ul li { display:inline-block }
.footer-links ul li.first a, .footer-links ul li:first-child a { border-left:0 solid #fff }
.footer-links ul li:last-child a { padding-right:0 }
.footer-links ul li a { font: 400 13px/100% 'Roboto', sans-serif; color:#333; padding:0 10px; border-left:1px solid #333; display:inline-block }
.footer-links ul li a:hover { color:#cf530b }
.fList { color:#523131; display:table-cell; font: 400 13px/100% 'Roboto', sans-serif; padding:3px 0 40px; vertical-align:top }
.fList h5 { color:#d34500; font: 400 18px/42px 'Roboto Condensed', sans-serif; padding-left:20px }
.fList ul { border-left:1px solid #d4cece; display:inline-block; margin:0; padding-left:20px; width:180px }
.fList li { display:block; padding-bottom:10px }
.fList li a { color:#523131 }
.fList li a:hover { color:#d34500 }
.fList li:last-child { padding-bottom:0 }
.copyrights { background:url(../images/copyrights-bg.png) 0 0 repeat; clear:both; display:inline-block; height:30px; padding:15px 0px 0; text-align:center; width:100% }
.copyrights p { font: 400 12px/100% 'Roboto', sans-serif; color:#fff; margin:0 }
.error_msg { color:#cc0000; }
.success_msg { color:#060; }
.errpadding { padding: 12px 0px 0px 148px; }
span.error, .fileinputs .error{ color:#cc0000!important; background: none; border: 0px; }
.regtq { color: #64452D; display: block; font: 17px 'Roboto Condensed','Trebuchet MS',sans-serif; margin-bottom: 5px; padding: 100px; text-align: center;}
.customerr {  padding:10px 0 2px; text-align:center;}
.common-block .error{ color:#cc0000!important;  }

/*------------------mega-menu css*/
.main-menu ul li .mega-menu{background: none repeat scroll 0 0 #FFFFFF;border: 2px solid #5C5C5C;display: block;left: 0;margin: 0;padding: 0;position: absolute;top: 39px;width: 984px;box-shadow: 2px 2px 6px #B8B8B8; z-index:999;}
.main-menu ul li .mega-menu-left{background: none repeat scroll 0 0 #EEEEEE;display: block;float: left;margin: 0;padding: 10px 10px 34px 15px;width: 204px;}
.main-menu ul li .mega-menu-left h5{font:400 19px/23px 'Oswald', sans-serif; margin:0 0 15px 0; padding:0px; text-transform:uppercase; color:#333333;}
.main-menu ul li .mega-menu-left h5 a{ color:#333333; border-top:none;display: inline-block;padding:0px;background:none;}
.main-menu ul li .mega-menu-left h5 a:hover{ background:none; border-top:none;}
.main-menu ul li .mega-menu-left h5 a span{ color:#cf530b;}
.main-menu ul li .mega-menu-left ul{ margin:0px; padding:0px;}
.main-menu ul li .mega-menu-left ul li{ margin:0px; padding:0px; list-style:none; list-style-position:inside; border-bottom:#b7babd dotted 1px;color:#39434c; font: 400 13px/23px 'Roboto Condensed', sans-serif; text-transform:uppercase; width:100%;}
.main-menu ul li .mega-menu-left ul li:hover, .main-menu ul li .mega-menu-left ul li.active{background:url(../images/mg-li-icon.png) no-repeat scroll 190px 9px transparent;}
.main-menu ul li .mega-menu-left ul li a{ color:#39434c; text-decoration:none;border-top:none;display: inline-block;padding:0px; width:100%; background:none;}
.main-menu ul li .mega-menu-left ul li a:hover, .main-menu ul li .mega-menu-left ul li.active a{ color:#cf530b; text-decoration:none;background:none; border-top:none;}
.main-menu ul li .mega-menu-right{ margin:0px; padding:0px; background:#FFF; float:right; display:block; width:755px;}
.main-menu ul li .mega-menu-right .articles-content{ margin:0px; padding:0px; height:290px;border-left: 1px solid #DBDBDB;}
.main-menu ul li .mega-menu-right .articles-content .mid-col{ margin:0px; padding:0px; float:left;}
.main-menu ul li .mega-menu-right .articles-content .mid-col h4{color:#39434c; font:400 16px/23px 'Oswald', sans-serif; margin:0px; padding:0 0 6px; text-transform:uppercase; border-bottom:#dedede solid 1px;}
.main-menu ul li .mega-menu-right .articles-content .mid-col h4 a{color:#39434c; text-decoration:none;border-top:none;display: inline-block;padding:0px;background:none;}
.main-menu ul li .mega-menu-right .articles-content .mid-col h4 a:hover{color:#cf530b; text-decoration:none;background:none; border-top:none;}
.main-menu ul li .mega-menu-right .articles-content .articles-top{ margin:0px; padding:10px; border-right:#cccccc solid 1px; width:275px;display: inline-block;height: 93%;}
.main-menu ul li .mega-menu-right .articles-content .articles-top ul{ margin:0px; padding:0px;}
.main-menu ul li .mega-menu-right .articles-content .articles-top ul li{ border-bottom: 1px solid #E6E6E6;display: inline-block;list-style: none inside none;margin: 0;padding: 10px 0;
    text-align: left;width: 100%;}
.main-menu ul li .mega-menu-right .articles-content .articles-top ul li h5{ color:#006699;font: 400 13px/100% 'Roboto', sans-serif; margin:0px; padding:0 0 0 10px;background:url(../images/atop-icon.png) no-repeat scroll left 6px transparent;}
.main-menu ul li .mega-menu-right .articles-content .articles-top ul li h5 a{ color:#006699; text-decoration:none;border-top:none;display: inline-block;padding:0px;background:none;}
.main-menu ul li .mega-menu-right .articles-content .articles-top ul li h5 a:hover{ color:#39434c; text-decoration:none;background:none; border-top:none;}
.main-menu ul li .mega-menu-right .articles-content .articles-top ul li span{color:#999;font: 400 11px/100% 'Roboto', sans-serif; margin:0 0 0 10px; padding:0px;}
.main-menu ul li .mega-menu-right .articles-content .articles-top .viewarticle{ margin:0px; padding:0px;}
.main-menu ul li .mega-menu-right .articles-content .articles-top .viewarticle a{ color:#333333;font: 400 11px/20px 'Roboto', sans-serif; text-transform:uppercase;border-top:none;display: inline-block;padding:0px; background:none;}
.main-menu ul li .mega-menu-right .articles-content .articles-top .viewarticle a:hover{ color:#cf530b;background:none; border-top:none; text-decoration:none;}
.main-menu ul li .mega-menu-right .articles-content .articles-recent{ margin:0px; padding:10px; border-right:#cccccc solid 1px; width:223px;display: inline-block;height: 93%;}
main-menu ul li .mega-menu-right .articles-content .articles-recent ul{ margin:0px; padding:0px;}
.main-menu ul li .mega-menu-right .articles-content .articles-recent ul li{ border-bottom: 1px solid #E6E6E6;display: inline-block;list-style: none inside none;margin: 0;padding:5px 0;
    text-align: left;width: 100%;}
.main-menu ul li .mega-menu-right .articles-content .articles-recent ul li h5{background: none repeat scroll 0 0 #FFFFFF;box-shadow: 1px 1px 1px #9F9F9F;color: #860000;display: inline-block;
    font: 600 11px/18px 'Roboto',sans-serif;margin: 0;padding: 0 5px;text-transform: uppercase;}
.main-menu ul li .mega-menu-right .articles-content .articles-recent ul li h5 a{ color:#860000; text-decoration:none;border-top:none;display: inline-block;padding:0px;background:none;}
.main-menu ul li .mega-menu-right .articles-content .articles-recent ul li h5 a:hover{ color:#39434c; text-decoration:none;background:none; border-top:none;}
.main-menu ul li .mega-menu-right .articles-content .articles-recent ul li span{color: #39434C;display: block;font: 400 13px/100% 'Roboto',sans-serif;margin:9px 0 0;padding: 0;}

.main-menu ul li .mega-menu-right .articles-content .articles-holiday{ margin:0 6px 0 0; padding:10px; width:188px;display: inline-block;height: 93%;}
.main-menu ul li .mega-menu-right .articles-content .articles-holiday .holiday-thumb{ margin:10px 0 0 0; padding:8px; background:#f3e6d3; box-shadow:2px 3px 3px #8D8D8D;background:url(../images/bg_main.jpg) repeat; text-align:center;}
.main-menu ul li .mega-menu-right .articles-content .articles-holiday .holiday-thumb .holiday-thumbinner{ margin:0px; padding:8px; border:#d2c4a6 dashed 1px;}
.main-menu ul li .mega-menu-right .articles-content .articles-holiday .holiday-thumb .holiday-thumbinner img {border: 2px solid #FFFFFF;border-radius: 5px;box-shadow:2px 2px 3px #D9CEBD;}
.main-menu ul li .mega-menu-right .articles-content .articles-holiday .holiday-thumb .holiday-thumbinner p{ color:#232323; font: 400 13px/20px 'Roboto',sans-serif; margin:0 0 20px 0; padding:0px; text-align:left; width:153px}
.main-menu ul li .mega-menu-right .articles-slider{ margin:0px; padding:0 0 0 43%; background:#eeeeee; height:32px;}
.main-menu ul li .mega-menu-right .articles-slider a{border-top:none;display: inline-block;padding:0px; background:none;}
.main-menu ul li .mega-menu-right .articles-slider a:hover{background:none; border-top:none;}