html { margin:0; padding:0; border:0 }
body, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section { margin:0; padding:0; border:0; font: normal 13px/120% "Trebuchet MS", Arial, Helvetica, sans-serif }
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section { display:block }
body { background:#f6f6f6; color:#333333; line-height:1.5 }
blockquote:before, blockquote:after, q:before, q:after { content:'' }
blockquote, q { quotes:"" "" }
a img { border:none }
:focus { outline:0 }
/* typography.css */
html { font-size:100.01% }
h1, h2, h3, h4, h5, h6 { font-weight:normal }
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin:0 }
p { margin:0 0 1.2em }
.left { float:left !important }
p .left { margin:1.5em 1.5em 1.5em 0; padding:0 }
.right { float: right !important }
p .right { margin:1.5em 0 1.5em 1.5em; padding:0 }
a:focus, a:hover { color:#e95d2c }
a { color:#304eac; text-decoration:none }
blockquote { margin:1.5em; color:#666; font-style:italic }
strong, dfn { font-weight:bold }
em, dfn { font-style:italic }
sup, sub { line-height:0 }
abbr, acronym { border-bottom:1px dotted #666 }
address { margin:0 0 1.5em; font-style:italic }
del { color:#666 }
pre { margin:1.5em 0; white-space:pre }
pre, code, tt { font:1em 'andale mono', 'lucida console', monospace; line-height:1.5; white-space:pre }
li ul, li ol { margin:0 }
ul, ol { margin:0; padding:0 }
ul { list-style-type:disc }
ol { list-style-type:decimal }
dl { margin:0 0 1.5em 0 }
dl dt { font-weight:bold }
dd { margin-left:1.5em }
/*table { margin-bottom:1.0em; width:100% }
th { font-weight:bold }
thead th { background:#c3d9ff }
th, td, caption { padding:4px 10px 4px 5px }*/
tbody tr:nth-child(even) td, tbody tr.even td {
background:#f0f0f0;
}
tbody tr:nth-child(odd) td, tbody tr.odd td {
background:#f9f9f9;
}
caption { background:#eee }
.hide { display:none }
.quiet { color:#666 }
.loud { color:#000 }
.highlight { background:#ff0 }
.added { background:#060; color:#fff }
.removed { background:#900; color:#fff }
.first { margin-left:0; padding-left:0 }
.last { margin-right:0; padding-right:0 }
.top { margin-top:0; padding-top:0 }
.bottom { margin-bottom:0; padding-bottom:0 }
.mandatory { color:#cc0000; font: bold 14px/16px Arial, Helvetica, sans-serif }
/* forms.css */
label { font-weight:normal }
fieldset { padding:0 1.4em 1.4em 1.4em; margin:0 0 1.5em 0; border:1px solid #ccc }
legend { font-weight:bold; font-size:1.2em; margin-top:-0.2em; margin-bottom:1em }
fieldset, #IE8#HACK { padding-top:1.4em }
legend, #IE8#HACK { margin-top:0; margin-bottom:0 }
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea { background-color:#ffffff; border:1px solid #e4dddd; color:#64452d; font:12px/14px Arial, Helvetica, sans-serif; height:13px; margin-right:10px; padding:5px }
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus { border-color:#C9C9C9; box-shadow:0 0 8px #DDDDDD }
select { background-color:#ffffff; border:1px solid #e4dddd; color:#64452d; height:25px; line-height:19px; margin-right:8px; padding:3px 3px 3px 5px }
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select { /*margin:0.5em 0;*/ }
input.text, input.title { width:300px; padding:5px }
input.title { font-size:1.5em }
textarea { height:80px; padding:5px }
form.inline { line-height:3 }
form.inline p { margin-bottom:0 }
.notice { background:#fff6bf; color:#514721; border-color:#ffd324 }
.success { background:#e6efc2; color:#264409; border-color:#c6d880 }
.info { background:#d5edf8; color:#205791; border-color:#92cae4 }
.error a, .alert a { color:#8a1f11 }
.notice a { color:#514721 }
.success a { color:#264409 }
.info a { color:#205791 }
hr { background:#ddd; color:#ddd; clear:both; float:none; width:100%; height:1px; margin:0 0 17px; border:none }
hr.space { background:#fff; color:#fff; visibility:hidden }
.clearfix:after, .container:after { content: " "; display:block; height:0; clear:both; visibility:hidden; overflow:hidden }
.clearfix, .container { display:block }
.clearfix { *zoom: 1
}
.clear { clear:both }
.gap-5 { clear:both; height:5px }
.gap-10 { clear:both; height:10px }
.gap-15 { clear:both; height:15px }
.gap-20 { clear:both; height:20px }
.gap-25 { clear:both; height:25px }
.gap-30 { clear:both; height:30px }
.gap-35 { clear:both; height:35px }
.gap-40 { clear:both; height:40px }
.selwidth { width: 320px; }
.wrapper { display:table; width:100% }
.header { background:#FFFFFF; border-bottom:6px solid #e6e6e6; height:79px; width:100% }
.body-wrapper { background:#f6f6f6; display:table; width:100% }
.container { background:#FFFFFF; border-radius:0 0 0 8px; border:1px solid #eaeae3; margin:20px auto; position:relative; width:1092px }
.content { display:block; padding:20px; position:relative }
.content h3 { color:#e95d2c; font-size:24px; line-height:50px; text-transform:uppercase }
.footer { display: block; height: 69px; width: 100%; margin:0 auto; padding:0px; background: #454648; background: -moz-linear-gradient(top, #454648 0%, #262626 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #454648), color-stop(100%, #262626)); background: -webkit-linear-gradient(top, #454648 0%, #262626 100%); background: -o-linear-gradient(top, #454648 0%, #262626 100%); background: -ms-linear-gradient(top, #454648 0%, #262626 100%); background: linear-gradient(to bottom, #454648 0%, #262626 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454648', endColorstr='#262626', GradientType=0 ); border-top:6px solid #e6e6e6 }
.footer > .container { background:none; border:none; margin:0 auto; padding:15px 20px; width:1052px }
.footer .fLinks, .footer p { color:#FFFFFF; font: 12px/14px Arial, Helvetica, sans-serif }
.footer .fLinks a { color:#FFFFFF; margin:0 5px }
.footer .fLinks a:hover { color:#ff6666 }
/**/
@font-face {
 font-family: 'segoeui';
 src: url('../fonts/segoeui.eot');
 src: url('../fonts/segoeui.eot?#iefix') format('embedded-opentype'), url('../fonts/segoeui.woff') format('woff'), url('../fonts/segoeui.ttf') format('truetype'), url('../fonts/segoeui.svg#segoeui') format('svg');
 font-weight: normal;
 font-style: normal;
}
.body-wrapperhgt { padding-top: 100px; height: 500px; }
.error_msg { color:#cc0000; }
.success_msg { color:#060; }
.errpadding { padding: 12px 0px 0px 148px; }
label.error { color:#cc0000!important; }

